
.icon-cog-alt:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-wallet:before { content: '\e803'; } /* '' */
.icon-right-bold:before { content: '\e804'; } /* '' */
.icon-home-outline:before { content: '\e805'; } /* '' */
.icon-basket:before { content: '\e806'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-balance-scale:before { content: '\f24e'; } /* '' */
